@font-face {
    font-family: minecraft_pl_font;
    src: url("/czcionki/minecraft_pl_font.woff");
}
html{
    background-color: black;
}
canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 70%;
    max-height: 70%;
}
txt{
    font-family: minecraft_pl_font;
    font-size: 250%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    /*color: white;*/
}